.home-slider {
  width: 75%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.slider-navbar {
  position: absolute;
  top: 40%;
  right: -100px;
  transform: translateY(-40%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  li {
    list-style: none;
    width: 3.8rem;
    background: rgba(0, 0, 0, 0.5);
    height: 3px;
    transition: width 0.3s;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 5.5rem;
    }
  }

  li.active {
    background: rgba(0, 0, 0, 1);
    width: 5.5rem;
  }
}

.slide {
  display: flex;
  height: 100%;
  transition: all 0.4s 0.5s;

  &__left {
    flex: 50%;
  }

  &__right {
    flex: 50%;
    position: relative;
  }
}

.slide.fade {
  display: none;
  opacity: 0;
  visibility: 0;
}

.work-gallery {
  width: 380px;
  height: 490px;
  margin-left: 20px;
  background: $color-primary;
}

.work-detail {
  position: absolute;
  top: 25%;
  left: -3rem;
  font-size: 17px;

  &__pri {
    font-size: 7.5rem;
    font-weight: bold;
    line-height: 100%;
  }

  &__sec {
    margin-left: 5px;
    display: flex;
    align-items: center;
  }

  &__btn {
    margin-left: 5px;

    span.arrow {
      display: inline-block;
      font-size: 17.5px;
    }

    &:hover span.arrow {
      margin-left: 0.5rem;
      animation: inandout 1s infinite;
    }
  }
}

.dash {
  background: #000;
  width: 3rem;
  height: 2px;
  display: inline-block;
  margin-left: 1.5rem;
}
