.section-about {
  width: 100vw;
  height: 100vh;
}

.about {
  box-sizing: border-box;
  box-shadow: $shadow-light;
  width: 90%;
  height: 75%;
  margin: 0 auto;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &__top {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    h2 {
      font-size: 16px;
      padding-bottom: 2px;
      letter-spacing: 1px;
    }
    span {
      background: $color-primary;
      width: 3.8rem;
      height: 0.2rem;
      border-radius: 100px;
    }
  }

  &__main {
    display: flex;
    height: 100%;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 50%;
  }

  &__right {
    flex: 1;
    position: relative;
    div {
      width: 32rem;
      height: 32rem;
      background: $color-primary;
      border-radius: 1000px;
      position: absolute;
      top: 6rem;
      z-index: -1;
      margin-top: -1rem;

      left: -6rem;
    }
  }

  &__me {
    margin-top: -1rem;
    width: 32rem;
    height: 32rem;
    object-fit: cover;
    object-position: -30px -120px;
    border-radius: 100%;
    background: rgba(#9c979d, 0.69);
    position: relative;
    padding: 5px;
    box-sizing: content-box;
    background: #fff;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(#9c979d, 0.69);
    }
  }

  &__title {
    font-size: 4rem;
    &:first-child {
      @include respond(big-desktop) {
        .about__title {
          margin-bottom: -7rem;
        }
      }
    }

    &--sm {
      margin: 5px 0;
      font-size: 2rem;

      @include respond(laptop-md) {
        margin: -6.2rem 0;
      }
    }
  }

  &__text {
    color: $color-text-grey;
    line-height: 150%;
    width: 80%;
  }

  #frontend {
    margin-bottom: 1rem;
  }

  &__skill {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    transition: all 0.2s;
    &:not(:first-child) {
      margin-left: 1.5rem;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.circle {
  background: $color-primary;
  width: 30rem;
  height: 30rem;
  position: absolute;
}

.circle-top {
  top: 0;
  right: 0;
  clip-path: circle(34.9% at 88% 0);
}

.circle-bottom {
  bottom: 0;
  left: 0;
  clip-path: circle(33.9% at 6% 100%);
}
mark {
  background: #4430e0;
  color: white;
  padding: 2px 4px;
}
