section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s 0.5s;
}

.intro {
  // padding-top: 8rem;
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;

  &__left {
    flex: 58%;
    margin-top: 3rem;
    a {
      margin-top: 2rem;
    }
  }

  &__right {
    flex: 42%;
    margin-left: 2rem;
    margin-top: -1rem;
  }

  &__banner {
    margin-top: -3rem;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// =========== js styles ========
.rotateTop {
  transform: rotateZ(-90deg);
}

.nav-shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
}

.navbarBorderRemove {
  border-bottom: none;
}

// ==============================
