.section-work{
    display:flex;
}

.projects-title{
    flex:50%;

    display:flex;
    justify-content: center;
    align-items: center;

    ul{
        li{
            margin-bottom:2rem;
            font-size:2.1rem;
            padding:2rem;
            list-style: none;
            cursor: pointer;
            transition: all .2s;
            position: relative;
            width:30rem;
            color:#fff;

            &::before{
                content:"";
                display:block;
                position:absolute;
                top:0;
                left:0;
                height:100%;
                width:65%;
                background:$color-primary;
                z-index: -1;
                transition:all .2s;
            }

            &:hover::before{
                width:100%;
            }
        }
    }
}

.projects-img{
    flex:50%;
}