.section-work {
  width: 100vw;
  height: 100vh;

  @include respond(phone) {
    width: initial;
    margin-top: -8rem;
    margin-bottom: -8rem;
    height: 80vh;
  }

  @include respond(phone-md) {
    height: 68vh;
  }
  @include respond(phone-sm) {
    height: 64vh;
  }
  @media (max-width: 320px) {
    margin-top: -4.5rem;
  }
}

.work {
  box-sizing: border-box;
  height: 75%;
  width: 90%;
  margin: 0 auto;
  padding: 3rem 7rem;
  box-shadow: $shadow-light;
  position: relative;

  @include respond(phone) {
    box-shadow: none;
    height: 75%;
    width: 100%;
    margin-bottom: 3rem;
  }

  &__carousel {
    width: 100%;
    height: 100%;

    & > div {
      display: flex;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 3rem 7rem;
      position: absolute;
      top: 0;
      left: 0;
      @include respond(phone) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: initial;
      }
    }
  }

  &__left {
    width: 45%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -4.5rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s 1s ease;
    &-animate {
      opacity: 1;
      visibility: visible;
    }

    @include respond(phone) {
      width: 100%;
      margin-top: 0;
      align-items: center;
      text-align: center;
      padding-top: 1.5rem;
    }
  }

  &__right {
    width: 55%;
    display: flex;
    margin-left: 5rem;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    transform: translateX(200px); // for animation
    opacity: 0;
    visibility: hidden;

    &-animate {
      transform: translateX(0); // for animation
      opacity: 1;
      visibility: visible;
    }
    @include respond(phone) {
      width: 100%;
      margin-left: 0;
      transform: translateX(0);
    }
  }

  &__nav {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    @include respond(phone) {
      bottom: 0;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      li {
        margin-bottom: 1rem;
        width: 1rem;
        height: 1rem;
        border-radius: 100px;
        background: rgba($color-text-grey, 0.7);
        transition: all 0.4s;

        &:not(:last-child) {
          margin-right: 2rem;
        }
      }

      .work-navbtn-active {
        background: $color-primary;
        transform: scale(1.3);
      }
    }
  }

  &__title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: $color-primary;
    @include respond(phone) {
      font-size: 4rem;
    }

    @include respond(phone-sm) {
      font-size: 3rem;
    }

    @media (max-width: 320px) {
      font-size: 2.3rem;
    }
  }

  &__mainheading {
    margin-left: -3px;
    @include respond(phone) {
      margin-left: 0;
    }
  }

  &__subheading {
    font-size: 2rem;
    display: block;
    text-transform: uppercase;
    @include respond(phone) {
      display: none;
    }
  }

  &__text {
    line-height: 150%;
    font-size: 1.7rem;
    color: $color-text-grey;
    @include respond(phone) {
      line-height: 170%;
    }
    div {
      display: flex;
      align-items: flex-end;
      color: $color-primary;
      @include respond(phone) {
        justify-content: center;
      }
      span {
        margin: 0 1rem;
      }
    }

    div a.view {
      font-size: 1.8rem;
      display: inline-block;
      margin-top: 1rem;
      color: $color-primary;
      z-index: 2;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 2px solid $color-primary;
        opacity: 0;
        transition: all 0.3s;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }

  &__img-carousel {
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      border: 1px solid #eee;
    }
  }
}
