* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  cursor: none;
  @include respond(tab-port) {
    cursor: initial;
  }
}

body,
a,
input,
button,
textarea {
  cursor: none !important;
}

a {
  text-decoration: none;
  color: #000;
}

section > div.showPage {
  opacity: 1;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
