* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  cursor: none;
  opacity: 0;
  transition: opacity 0.5s;
  @include respond(tab-port) {
    cursor: initial;
    overflow: auto;
    padding: 2rem;
  }
}

body,
a,
input,
button,
textarea {
  cursor: none !important;
}

a {
  text-decoration: none;
  color: #000;
}

section > div.showPage {
  opacity: 1;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include respond(phone) {
    height: 50vh;
  }
}

.section {
  &__mobile-heading {
    padding: 2rem 0;
    text-align: center;
    color: $color-primary;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    span {
      &:first-child {
        margin-right: 3rem;
      }

      &:last-child {
        margin-left: 3rem;
      }
      height: 1px;
      width: 7rem;
      background: $color-text-grey;
    }

    @include respond(phone) {
      display: flex;
    }
  }
}

.overlay {
  height: 100vh;
  width: 100vw;
  background: #fff;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
